html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    overflow-x: hidden;
}

#main {
    height: 100%;
    padding: 120px 0px;
}

.design {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Muli', sans-serif;
    color: #333;
}

img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-size: 1.15em;
    color: #ff80a4;
}

h1 span {
    border-top: 2px solid #ff6692;
    padding-top: 5px;
}

#main .form-control {
    font-family: 'Muli', sans-serif !important;
    height: calc(1.5em + 1rem + 2px);
    border-right: unset;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

#main .form-control:focus {
    box-shadow: unset;
    border-color: #ced4da;
}

::placeholder {
    font-family: 'Muli', sans-serif !important;
    color: #ced4da !important;
}

#main .input-group-text {
    background-color: #fff;
    border-left: unset;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: #999;
}

#main form a {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: #8c8c8c;
    text-decoration: unset;
}

#main form button {
    height: calc(1.5em + 1rem + 2px);
    width: 100%;
    background-color: #ff6692 !important;
    border: unset;
    border-radius: 1rem;
    font-family: 'Muli', sans-serif !important;
    color: #fff;
}

@media (max-width: 767px) {
    #main {
        padding: 60px 20px;
    }

    .col-md-6 {
        border: unset !important;
    }

    .design {
        top: 130%;
    }
}